@font-face {
    font-family: "Selawik";
    src: url("./selawkb.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: "Selawik", sans-serif;
    font-size: 18px;
    background-color: black;
    color: white; /* Set text color to white */
}

/* Video container holding both videos */
.video-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Sends videos to the background */
}

.upper-video {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.lower-video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
/* Main content appears above videos */
main {
    position: relative;
    z-index: 1; /* Keep main content above the videos */
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    max-height: 100vh;
}

h1 {
    font-size: 3rem;
    border-bottom: 5px solid white; /* White border */
    width: 100%;
    text-align: center;
    margin: 0;
    color: white; /* White text */
}

h2 {
    font-size: 2rem;
    border-bottom: 3px solid white; /* White border */
    margin: 0;
    color: white; /* White text */
}


header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    height: 40vh;
}

.header-content {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    gap: 1rem;
    height: 100%;
}

nav > a {
    border: 2px solid white; /* White border */
    background: transparent;
    color: white; /* White text */
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem; /* White shadow */
    box-shadow: 0px;
    transition: 0.3s ease;
    border-radius: 10px;
}

nav > a:hover {
    box-shadow: 3px 3px 0 1px white;
    transform: translate(-3px, -3px);
}

nav > a:active {
    transform: translate(0, 0);
}

section.content {
    width: 100vw;
    margin: 0;
    height: 60vh;
}

section.content > .content-scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

article {
    display: flex;
    min-width: 100vw;
    height: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    /* Center content vertically within the card */
    align-items: center;
    height: 60vh; /* Adjust height of the article section */
}

article#artists{
    background-color: rgba(0,0,0, 0.5);
}

article#blogi{
    background-color: rgba(0,0,0, 0.5);
}

p, h1, h2, h3{
    text-shadow: 2px 3px 3px black;
}

/* Ensure a consistent height for the image container */
.artist-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Restrict max width */
    margin: auto;
    gap: 2rem;
    height: 100%; /* Ensure full height for the card */
}

.artist-links{
    display: flex;
    gap: 1rem;
}

img{
    height: auto;
    object-fit: cover; /* Maintain aspect ratio */
    max-height: 80%; /* Ensure the image fills the available height */
}

img:not(img[alt="Pesukaru image"]) {
    border-radius: 10px;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5); /* White shadow */
}

.artist-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text content to the center */
}

#info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info img {
    width: 30%;
}

.info-text {
    width: 50%;
    padding: 0 1rem;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

#contact p {
    width: 50%;
    margin: 0;
}

.hidden {
    display: none;
}

.fade {
    opacity: 0;
    animation: fade-in 10s linear forwards;
}

.artists-slide-button{
    border: 2px solid white; /* White border */
    border-radius: 10px;
    background: transparent;
    color: white; /* White text */
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px;
    transition: 0.3s ease;
}

.artists-slide-button:hover{
    box-shadow: 3px 3px 0 1px white;
    transform: translate(-3px, -3px);
}

.artists-slide-button:active{
    transform: translate(0, 0);
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact-header p{
    width: 100%;
}

.contact-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sub-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.img-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    height: 4rem;
    width: 4rem;
}

#lowerVid {
    transition: opacity 0.5s ease-in-out;
    opacity: 1; /* Initially fully visible */
}

@keyframes fade-in {
    0% { opacity: 0;}
    5% { opacity: 1;} 
    95% { opacity: 1; }
    100% { opacity: 0;}
}

.blog-scroll{
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 60vh;
    gap: 2rem;

    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;

    overflow-y: scroll;
    scrollbar-color: grey transparent;
    scrollbar-width: none;
}


.blog-card {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto; /* Change from 100% to auto */
    max-width: 1200px; /* Restrict max width */
    margin: auto;
    gap: 4rem;
    border: 1px solid white;
    padding: 2rem;
    margin: 0rem 0.5rem;
    border-radius: 15px;
    background-color: rgba(0,0,0, 0.6);
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.blog-card.flip-in {
    animation: flipIn 0.6s forwards;
}

.blog-card.flip-out {
    animation: flipOut 0.6s forwards;
}

.blog-text{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.blog-image{
    display: flex;
    width: 40%;
    overflow: hidden;
}

.blog-image img{
    width: 80%;
    height: auto;
}

.blog-slide-button{
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.blog-slide-button:hover{
    animation: arrowBounce infinite 1s;
}

.blog-slide-button:active{
    transform: translate(0, 0);
}

@keyframes arrowBounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* Tablet styles */
@media only screen and (max-width: 1023px) {
    html, body {
        overflow: auto;
        height: auto;
    }

    

    .artist-card img {
        width: 50%;
        max-height: 300px; /* Reduce height on smaller screens */
    }

    .artist-card {
        height: 72vh; /* Ensure full height for the card */
        justify-content: flex-start;
        flex-direction: column;
    }

    #info {
        flex-direction: column;
    }

    #info img {
        width: 50%;
        margin-bottom: 1rem;
    }

    .info-text {
        width: 80%;
    }

    article {
        padding: 1rem;
    }

    .artist-info {
        width: 100%;
        align-items: center;
        padding: 0.5rem;
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    body {
        font-size: 1.1rem;
    }

    header {
        height: 28vh;
    }

    h1 {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    h2 {
        font-size: 1.75rem;
        margin: 1rem 0;
    }

    article {
        padding: 0.5rem;
        gap: 1rem;
        flex-direction: column;
    }

    img {
        width: 80%;
        max-height: 300px;
    }

    .artists-slide-button{
        display: none;
    }

    .blog-scroll{
        padding: 5% 0%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 72vh;
        width: 100%;
        gap: 2rem;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;

        overflow-y: scroll;
        scrollbar-color: grey transparent;
        scrollbar-width: none;
    }

    .blog-card img{
        width: 80%;
        max-height: 300px;
    }

    .blog-card{
        width: 90%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        height: max-content
    }

    .blog-text{
        width: 100%;
        align-items: center;
    }
    .blog-image{
        width: 100%;
        justify-content: center;
    }
    .blog-image img{
        width: 80%;
        height: auto;
    }

    .header-container{
        align-items: end;
    }

    .header-content{
        flex-direction: row;
    }

    .header-content nav{
        flex-direction: column;
    }

    .header-content nav a{
        background-color: rgba(0,0,0);
    }

    .artist-info {
        width: 100%;
        text-align: center;
    }

    #info {
        flex-direction: column;
        align-items: center;
    }

    #info img {
        width: 80%;
    }

    .info-text {
        width: 100%;
        text-align: center;
    }

    #contact p {
        width: 80%;
    }
}
